style.css
*{
font-size: large;
    display: flex-wrap;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
body {
   background-color: lightblue;
   background-position: fixed;
background-repeat: no-repeat;
    background: url("Sedona_9.30.23.jpg")!important;
    border-bottom-color: azure;
}

.body {


@media screen and (max-width: 380px) and (orientation: portrait) }
    .advert-img {
        width: 100%;
    }
                @media (min-width: 500px) {
                    body {
                        background: url("");
                    }
                }
        
                @media (min-width: 800px) {
                    body {
                        background: url("");
                    }
                }
                                body {
                                    background: url("");
                                }
                
                                @media (min-width: 500px) {
                                    body {
                                        background-size: 50%;
                                    }
                                }
                
                                @media (min-width: 800px) {
                                    body {
                                        background-size: 80%;
                                    }
                                }

         ;

nav {
    font-size: large;
    display: flex-wrap;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
h1{
    font-size: large;
    color:azure
}
div{
    font-size: x-large;
    color: azure;
}
link{
    font-size: medium;
}

section2{
    font-size: large;
    color: aliceblue;
}